@media print {
  body * {
    visibility: hidden;
  }

  #printableArea,
  #printableArea * {
    visibility: visible;
  }

  #printableArea {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    height: 90%;

    font-size: 0.9em;
    text-align: left;
    line-height: 2.8;
    border-collapse: collaps;

    margin: 20px 10px;

  }
}

.ag-paging-panel {
  text-align: center;
}

/* 페이지 크기 선택 드롭다운 메뉴 가운데 정렬 */
.ag-paging-page-summary-panel {
  justify-content: center;
}

/* 페이지 크기 선택 드롭다운 메뉴 아이템 가운데 정렬 */
.ag-paging-page-summary-panel .ag-paging-page-size {
  text-align: center;
}